In [1]:
import pandas as pd

In [2]:
df_sentiment = pd.read_csv('imdb_labelled.txt', sep='\t', names=['comment', 'label'])

In [3]:
df_sentiment.head(10)

                                             comment  label
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1
5  The rest of the movie lacks art, charm, meanin...      0
6                                Wasted two hours.        0
7  Saw the movie today and thought it was a good ...      1
8                               A bit predictable.        0
9  Loved the casting of Jimmy Buffet as the scien...      1

In [4]:
df_sentiment.describe()

            label
count  748.000000
mean     0.516043
std      0.500077
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [5]:
df_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 2 columns):
comment    748 non-null object
label      748 non-null int64
dtypes: int64(1), object(1)
memory usage: 11.8+ KB

In [6]:
df_sentiment.groupby('label').describe()

      comment
        count unique                 top freq
label
0         362    361  Not recommended.      2
1         386    384             10/10      2

In [9]:
df_sentiment['length'] = df_sentiment['comment'].apply(len)

In [10]:
df_sentiment.head()

                                             comment  label  length
0  A very, very, very slow-moving, aimless movie ...      0      87
1  Not sure who was more lost - the flat characte...      0      99
2  Attempting artiness with black & white and cle...      0     188
3       Very little music or anything to speak of.        0      44
4  The best scene in the movie was when Gerardo i...      1     108

In [11]:
df_sentiment['length'].iloc[0]

87

In [12]:
df_sentiment[df_sentiment['length']>50]['comment'].iloc[0
                                                       ]

'A very, very, very slow-moving, aimless movie about a distressed, drifting young man.  '

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
import string
vectorizer = CountVectorizer()

In [27]:
from nltk.corpus import stopwords
def message_text_process(mess):
    no_punctuation = [char for char in mess if char not in string.punctuation]
    no_punctuation = ''.join(no_punctuation)
    return [word for word in no_punctuation.split() if word.lower() not in stopwords.words('english')]

In [29]:
bag_of_words = CountVectorizer(analyzer=message_text_process).fit(df_sentiment['comment'])

In [30]:
from sklearn.feature_extraction.text import TfidfTransformer
comment_bagofwords = bag_of_words.transform(df_sentiment['comment'])

In [31]:
tfidf_transformer = TfidfTransformer().fit(comment_bagofwords)

In [32]:
comment_tfidf=tfidf_transformer.transform(comment_bagofwords)

In [33]:
print comment_tfidf.shape

(748, 3259)

In [35]:
from sklearn.naive_bayes import MultinomialNB
sentiment_detection_model = MultinomialNB().fit(comment_tfidf, df_sentiment['label'])

In [ ]:
comment = df_sentiment['comment'][0]
bag_of_words_for_comment = bag_of_words.transform([comment])
tfidf=tfidf_transformer.transform()